


.link_index {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;


}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


h1 {
    color: #333;
}

.profile-info {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-info h2 {
    color: #555;
}

.profile-links {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.profile-links ul {
    list-style-type: none;
    padding: 0;
}

.profile-links ul li {
    margin-bottom: 10px;
}

.profile-links ul li a {
    color: #616161;
    text-decoration: none;
}

.profile-links ul li a:hover {
    text-decoration: underline;
}
