body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #000;
    line-height: 1.6;
    background-color: #f7f7f7;
}

h1 {
    color: #333;
}

.link_index {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
}

.profile-info {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.profile-info label {
    font-weight: bold;
}

.profile-info input[type="text"],
.profile-info input[type="file"] {
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
}

.profile-info button {
    height: 40px;
    align-items: center;
    display: inline-block;
    padding: 8px 30px;
    border: 2px solid #000;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    background-color: #000;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.profile-info button:hover {
    background-color: #fff;
    color: #000;
}

.photo-upload-form input[type="file"] {
    margin-right: 10px;
}

.photo-upload-form button {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.user-photo {
    max-width: 200px; /* Максимальная ширина изображения */
    max-height: 200px; /* Максимальная высота изображения */
}