
body {  
    margin: 0;    

    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    color: #fff;
    line-height: 1.6;
    
}


hr {
    display: block;
    width: 100%;
    
    height: 1px;
    border: 0;
    margin: 40px 0;

    background-color: #b4b4b4 ;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* header */

.header_diag {
    text-align: right;
    margin: 0 20px;
}

    
.link_index {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
}


.intro {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-40%, -50%);
}


.text_header {
    color: #000000;
    position: absolute;
    font-size: 40px;
    margin: 50px 50px;
    
}


.middle_content {
    display: flex;
    justify-content: center; /* Выравниваем содержимое по горизонтали по центру */
    margin-left: 150px; /* Отступ слева от края страницы */
    margin-right: 150px; /* Отступ справа от края страницы */
    margin-top: 200px;
    color: #000000;
}

.text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center; /* Выравниваем текст по вертикали по центру */

}

.suptitle_top{
    color:#000000;
    margin-left: 70px; /* Добавляем немного отступа между текстом и изображением */
    width: 500px;
    margin-bottom: 20px;
}



.suptitle{
    color:#000000;
    margin-left: 70px;
    width: 500px;
}



/* Form */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}


  
.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin-bottom: 15px;
}

.input-group input {
    border: 2px solid #ccc; 
    padding: 10px; 
    font-size: 16px; 
    width: 200px;
}

.input-group input::placeholder {
    color: #aaa; 
}

.input-group label {
    color: #000000;
    margin-bottom: 5px; 
    
}

.button_record {
    height: 40px;
    align-items: center;
    display: inline-block;
    padding: 8px 30px;
    border: 2px solid  #000000;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    background-color: #000000;
    transition: .2s linear, color .2s linear;
}


.button_record:hover {
    background-color: #ffffff;
    color: #000000;
}

.form-container input, .form-container button {
    margin: 0 60px; 
}
