<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/authPage.css" />
  <link
          href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap"
          rel="stylesheet">
  <title>Authorization</title>
  <link rel="icon" href="/images/икона.png" type="image/x-icon">



</head>
<body>
<header class="header">

  <div class="modal_window">
    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="tab">
          Авторизация
        </div>
        <div id="Login" class="tabcontent active">
          <form id="loginForm" th:action="@{/login}" method="POST">
            <label for="loginUsername">Имя пользователя:</label>
            <input type="text" id="loginUsername" name="username">
            <label for="loginPassword">Пароль:</label>
            <input type="password" id="loginPassword" name="password">
            <button type="submit">Войти</button>
            <a href="/registration" class="creatAccount">Создать аккаунт</a>
          </form>
        </div>

      </div>
    </div>
  </div>

</header>



<script src="script/script.js" async></script>

</body>
</html>




