<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <header class="header">
        <div class="container">
            <nav class="nav">

                <a class="nav__link active" href="#nav_about" onclick="smoothScroll('#nav_about')">About</a>
                <a class="nav__link" href="#nav_service" onclick="smoothScroll('#nav_service')">Service</a>
                <a class="nav__link" href="reviews">reviews</a>
                <a class="nav__link" href="#">Work</a>
                <a class="nav__link" href="сontacts">Contact</a>

            </nav>

            <div class="sign-in-button_username">
                <a class="loginButton" id="loginButton" href="login">Войти</a>
            </div>


        </div>

    </header>
</div>